version:  '3'

volumes:
  rabbitmq-vol:

services:
    rabbitmq:  #  The  RabbitMQ  broker  which  lives  in  the  box,  unsecure  
      image: rabbitmq:3.7-management-alpine
      restart: unless-stopped
      ports:
        - 5672:5672
        - 5671:5671
        - 15672:15672
      volumes:
        - rabbitmq-vol:/var/lib/rabbitmq:rw
    license-manager:
      image: sevren/license-manager:latest
      ports:
        - 8080:8080
      depends_on:
        - rabbitmq
    pairing-manager:
      image: sevren/pairing-manager:latest
      ports:
        - 8081:8081
      command: -amqp amqp://guest:guest@rabbitmq:5672/
      depends_on:
        - rabbitmq